<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testinium Mobile Test Suite" verbose="1">
    <test name="Cucumber Tests" preserve-order="true">
        <classes>
            <class name="com.testinium.And.runners.CucumberTestRunner"/>
        </classes>
    </test>
</suite> 